<footer class="footer">
  <section class="informations">
    <h2 class="title">
        <span class="firstLetter">E</span>nvato Market
      </h2>
    <article class="privacy">
      <a href="#">Privacy Policy</a>
      <a href="#">Advertisement</a>
    </article>
    <p class="copyright">
      © Copyright ©2021 All rights reserved | This template is made by REEM
      team
    </p>
  </section>
  <section class="links-footer">
    <article class="about-us-links">
      <h2 class="about-text">About Us</h2>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Join Us</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </article>
    <article class="Catagories-links">
      <h2 class="Catagories-text">Catagories</h2>
      <ul>
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Fitness</a></li>
        <li><a href="#">Formal</a></li>
        <li><a href="#">Clothing</a></li>
      </ul>
    </article>
  </section>
  <section class="contact">
    <label class="send-email">Join Our Newsletter</label>
    <input type="email" class="input-email" placeholder="Enter your email" />
    <article class="icons-footer">
      <i class="pi pi-facebook"></i>
      <i class="pi pi-twitter"></i>
      <i class="pi pi-google"></i>
      <i class="pi pi-instagram"></i>
    </article>
  </section>
</footer>
