<div class="carousal_cont">
  <p-carousel
    [value]="products"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-product pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div class="p-mb-3"></div>
          <div class="image_cont">
            <img class="product-image" [src]="product" />
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
