.nav {
  background-color: var(--nav);
}
.nav_container {
  display: flex;
  justify-content: space-between;
  width: 99%;
  padding: 15px;
}
.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.firstLetter {
  color: var(--main);
}
.left {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .icon {
    font-size: 22px;
    position: relative;
    .crad_items {
      position: absolute;
      top: -10px;
      font-size: 11px;
      font-weight: bold;
      background-color: #56717D;
      color: #fff;
      border-radius: 50%;
      padding: 3px;
    }
  }
}
