.nav {
  background-color: var(--nav);
}
.nav_container {
  display: flex;
  justify-content: space-between;
  width: 99%;
  padding: 15px;
}
.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.firstLetter {
  color: var(--main);
}
.left {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
